<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    <h2>Рекламная кампания</h2>
    <a href="">Скачать</a>
    <table>
        <tr><th>Доп. объявления</th><th>Название группы</th><th>Фразы</th><th>Заголовок 1</th><th>Заголовок 2</th>
            <th>Объявления</th><th>Ссылка</th><th>Ставка</th><th>Отображаемая ссылка</th><th>Регион</th>
            <th>БС1</th><th>БС2</th><th>БС3</th><th>БС4</th><th>Описание 1</th><th>Описание 2</th><th>Описание 3</th>
            <th>Описание 4</th><th>Ссылка 1</th><th>Ссылка 2</th><th>Ссылка 3</th><th>Ссылка 4</th></tr>
        {% for Frases in all_entries %}
       <tr>
           <td>{{ Frases.additional_ad }}</td><td>{{ Frases.name_group.name_group }}</td><td>{{ Frases.Frases }}</td>
            <td>{{ Frases.headers.header1 }}</td><td>{{ Frases.headers.header2 }}</td>
            <td>{{ Frases.shared_data_group.text }}</td><td>{{ Frases.shared_data_group.link }}</td>
            <td>{{ Frases.shared_data_group.bewerten }}</td><td>{{ Frases.shared_data_group.sangezeigt_link }}</td>
            <td>{{ Frases.region.region }}</td>
           <td>{{Frases.fast_link.header_fast_link_1}}</td><td>{{Frases.fast_link.header_fast_link_2}}</td>
           <td>{{Frases.fast_link.header_fast_link_3}}</td><td>{{Frases.fast_link.header_fast_link_4}}</td>

           <td>{{Frases.fast_link.text_fast_link_1}}</td><td>{{Frases.fast_link.text_fast_link_2}}</td>
           <td>{{Frases.fast_link.text_fast_link_3}}</td><td>{{Frases.fast_link.text_fast_link_4}}</td>

           <td>{{Frases.fast_link.link_fast_link_1}}</td><td>{{Frases.fast_link.link_fast_link_2}}</td>
           <td>{{Frases.fast_link.link_fast_link_3}}</td><td>{{Frases.fast_link.link_fast_link_4}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
















